<%- include('./partials/header') %> 

<div class="container counsellor-panel-div">
    <div class="row d-flex justify-content-end">
        <div class="col-sm-6 col-md-5 col-lg-3 offset-md-2 offset-lg-9 mt-2">
            <button class="btn btn-success"><a href="/accepted_requests" style="text-decoration: none; color:aliceblue"><h4>Accepted Requests </h4></a></button>
        </div>
    </div>

    <div class="container mb-5">
        <h1 class="display-4 text-primary"><i class="fa fa-video-camera fa-md"></i>  Call Requests</h1>
    </div>
    <% if(call_req == ""){ %>
        <h3 class="display-5 text-danger"><i class="fa fa-frown-o fa-md"></i>  Sorry! No request available</h3>
    <% } %> 

    <div class="row">
        <% call_req.forEach(function(req){ %>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                  <center><h3 class="mt-2"><i class="fa fa-user"></i>  <%= req.name %></h3></center>
                  <div class="card-header">
                    <p class="card-text mx-1 mt-1"><strong>email id:</strong> <%= req.email %></p>
                    <p class="card-text mx-1"><strong>Need help in </strong> <%= req.needHelpIn %></p>
                    <p class="card-text mx-1"><strong>Role:</strong> <%= req.role %></p>
                    <a href="/accepted_requests/<%= req._id %>" class="btn btn-success">Accept</a>
                  </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include('./partials/footer') %>  