<%- include('./partials/header') %> 

<div class="container counsellor-panel-div">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-4">
            <h1>Call Requests Status </h1>
        </div>
    </div>
    <table class="table table-dark table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Need help for?</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <% if(reqstatsflag != 0){ %>
            <% var i=0 %>
            <% reqstats.forEach(function(req){ %>
            <tr>
                <% i+=1 %>
                <th scope="row"><%= i %></th>
                <td><%= req.name %></td>
                <td><%= req.email %></td>
                <td><%= req.needHelpIn %></td>
                <td><%= req.role %></td>
                <td><%= req.status %></td>
            </tr>
            <% });} %>
        </tbody>
    </table>
</div>

<%- include('./partials/footer') %>  