<%- include('./partials/header') %> 

<div class="container counsellor-panel-div">

    <div class="container my-5">
        <h1 class="display-4 text-success"><i class="fas fa-eye fa-md"></i>  Call Request Status</h1>
    </div>
    <% if(reqstatsflag == 0){ %>
        <h3 class="display-5 text-danger"><i class="fa fa-frown-o fa-md"></i>  Sorry! No request made</h3>
    <% } %> 

    <div class="row">
        <% if(reqstatsflag != 0){ %>
        <% reqstats.forEach(function(req){ %>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                  <center><h3 class="mt-2"><i class="fa fa-user"></i>  <%= req.name %></h3></center>
                  <div class="card-header">
                    <p class="card-text mx-1 mt-1"><strong>email id:</strong> <%= req.email %></p>
                    <p class="card-text mx-1 mt-1"><strong>Phone:</strong> <%= req.phone %></p>
                    <p class="card-text mx-1"><strong>Need help in </strong> <%= req.needHelpIn %></p>
                    <p class="card-text mx-1"><strong>Role:</strong> <%= req.role %></p>
                    <p class="card-text mx-1"><strong>Status:</strong> <%= req.status %></p>
                  </div>
                </div>
            </div>
        <% });} %>
    </div>
</div>

<%- include('./partials/footer') %>  